.page_name {
    border-bottom: 1px solid #dddddd;
    height: 60px;
}

.page_name h2 {
    margin: 0px;
    padding: 20px 0px 0px 0px;
}

.greeting {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-top: 200px;
    color: #333333;
}

.btn {
    width: 450px;
    margin: auto;
}

.go_login {
    width: 450px;
    height: 50px;
    margin: 50px auto;
    font-size: 18px;
    font-weight: bold;
    border: none;
    background-color: #2E954E;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}